:8080 {
    handle_path /2023/term4-design-exhibition* {
        uri strip_prefix /2023/term4-design-exhibition
        root * ./_site
        try_files {path}.html {path}
        file_server
    }
}

